header {
    font-family: 'Candara';
}

body {
    font-family: 'Candara';
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #CAEBF2;
    padding-top: 20px;
    padding-bottom: 0px;
    height: auto;
    width: 100%;
}

.main-footer .info {
    align-content: center;
}